.card {
  .card-title a, li a {
    color: $gray-900;
    @include transition;

    &:hover {
      color: $primary;
      text-decoration: none;
    }
  }

  .card-title {
    font-size: $h4-font-size;
    font-weight: $font-weight-normal;
  }
}

.card.widget {
  padding: 0;

  li a {
    color: $gray-700;
    @include transition;

    &:hover {
      color: $primary;
      text-decoration: none;
    }
  }

  .card-body {
    padding: 1.25rem 1.25rem 0;

    .card-title {
      font-size: $font-size-base;
    }

    ul {
      padding-left: 0;
      list-style: none;

      li {
        font-size: $font-size-sm;
        border-bottom: 1px solid $gray-300;
        padding: 0.5rem 0;
      }
    }

  }
}
