footer.site-footer {
  position: absolute;
  width: 100%;
  background-color: $white;

  a {
    color: $dark;
    transition: color .2s ease-in-out;

    &:hover {
      color: lighten($dark, 10%);
    }
  }
}