#site-navigation {
  position: absolute;
  background-color: $white;

  a.navbar-brand {
    text-transform: uppercase;
    font-weight: 600;
  }

  ul.navbar-nav li.nav-item > a {
    opacity: .65;
    @include transition;

    &:focus, &:hover, &.active {
      opacity: 1;
    }

    &.active {
      font-weight: 600;
    }
  }

  /*
    桌面端的导航栏显示效果：顶端时透明，字体为白色。下滑时向上隐藏，然后上划出现，显示白底黑字
   */
  @include media-breakpoint-up(lg) {
    background: transparent;

    .navbar-brand, a {
      color: $white;
    }

    /* 当用户下滑超过 header，隐藏导航栏，并修改它的样式为白底黑字 */
    &.is-fixed {
      top: -67px;
      position: fixed;
      background-color: rgba(255, 255, 255, 0.95);
      transition: transform .2s ease-out;
      border-bottom: 1px solid $gray-200;

      .navbar-brand, a {
        color: $black;
      }
    }

    /* 导航栏向下移动相当于自己高度的距离，因为之前 .is-fixed 刚好向上移动了相当于自己高度的距离 */
    &.is-visible {
      transform: translateY(100%);
    }
  }
}

header.masthead {
  position: relative;
  width: 100%;
  height: 520px;
  background: $gray-600 no-repeat scroll center center;
  background-size: cover;

  // 封面遮罩
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .site-heading {
    color: $white;
    text-align: center;
    padding-top: 200px;

    .subheading {
      display: block;
      font-size: $font-size-lg;
      font-weight: $font-weight-light;
    }
  }
}