/*--------------------------------------------------------------
 animation
--------------------------------------------------------------*/
@keyframes colorCycle {
  0% {
    color: #228be6;
  }
  12.5% {
    color: #12b886;
  }
  25% {
    color: #40c057;
  }
  37.5% {
    color: #ffd43b;
  }
  50% {
    color: #fd7e14;
  }
  62.5% {
    color: #fa5252;
  }
  75% {
    color: #f783ac;
  }
  87.5% {
    color: #7950f2;
  }
  100% {
    color: #228be6;
  }
}