.btn-tag, .btn-more {
  border-radius: 1rem;
  transition: all .1s ease-in;

  &:hover, &:focus {
    background-color: #d0ebff;
    color: #228be6;
    transition: all .1s ease-in;
  }
}

.btn-tag {
  color: #484c55bd;
  background-color: #f1f3f5;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  line-height: 1.5;
  font-weight: 500;
}

.btn-more {
  color: #4dabf7;
  background-color: #f8f9fa;
  padding-left: 18px;
  padding-right: 18px;
  font-size: 0.875rem;
  font-weight: 600;

  &:hover, &:focus {
    color: #228be6;
    background-color: #d0ebff;
    transition: all .1s ease-in;
    animation: colorCycle infinite 4s ease-in;
  }
}

.btn-pager {
  color: #4dabf7;
  background-color: $white;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 1rem;
  font-weight: 600;
  transition: all .1s ease-in;
}

.shadow-hover:hover {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}
