.card {
  .card-title > a, li > a {
    color: $gray-900;
    @include transition;

    &:hover {
      color: $primary;
      text-decoration: none;
    }
  }

  h2.card-title {
    font-size: $h4-font-size;
  }
}

.card.widget {
  padding: 0;
  opacity: 0.85;

  .card-title {
    font-size: $font-size-base;
  }

  .card-body {
    padding: 1.25rem 1.25rem 0;
  }

  ul {
    padding-left: 0;
    list-style: none;

    li {
      font-size: $font-size-sm;
      border-bottom: 1px solid $gray-300;
      padding: 0.5rem 0;
    }
  }
}

section#search {
  padding: 0;
  border-top: none;
}

.btn-search, .btn-search.form-control, .btn-search:hover, .btn-search:active .btn-search:focus, .btn-light:not(:disabled):not(.disabled):active {
  background: #fff;
  border: none transparent;
  box-shadow: none;
}

aside section {
  background-color: $white;
}