@import "../vendor/bootstrap/scss/functions";
@import "../vendor/bootstrap/scss/variables";
@import "../vendor/bootstrap/scss/mixins";

// 修改 Bootstrap 样式
.navbar-toggler {
  border: none;
}

.navbar-light .navbar-toggler {
  border: none;
}

// Global style
a {
  color: #1a73e8;

  &:visited {
    color: #7759ae;
  }
}

.float-center {
  margin-left: auto;
  margin-right: auto;
}

// custom variables
$common-shadow: 0 6px 15px rgba(36, 37, 38, 0.1);
$focus-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

.gray7 {
  color: $gray-700;
}

.bg-gray0 {
  background-color: darken($color: $gray-100, $amount: 2%);
}

.focus-shadow {
  box-shadow: $focus-shadow;
}

.foot-main {
  position: absolute;
  background-color: $white;
  padding: 30px;
  margin-top: 30px;
  border-top: 1px solid #e5eff5;

  a {
    color: $gray-700;
    transition: color .2s ease;

    &:hover {
      color: $gray-900;
    }
  }
}