/* 全局属性设定 */
body {
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
    background-color: #f6f6f6;
    color: #1a1a1a;
    font-size: 15px;
}

a {
    color: #36464e;
}

a:hover {
    color: #8590a6;
}

/* 至上而下的 CSS 样式排序*/
#main .post a:hover, section.widget a:hover {
    color: #333333;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 3px 0 rgba(0, 0, 0, 1);
    transition: 0.2s;
    text-decoration: none;
}

/*Navbar 静态样式*/
#site-navigation {
    position: absolute;
    border-bottom: 1px solid #e9ecef;
    background-color: white;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar-light .navbar-brand {
    color: #000000;
}

.navbar-light .navbar-nav .nav-link:hover {
    opacity: 0.7;
    transition: 0.1s;
}

.navbar-light .navbar-nav .nav-link.active {
    color: rgba(0, 0, 0, .9);
}

.navbar-light .navbar-nav .nav-link {
    color: #646464;
    font-size: small;
    font-weight: bold;
    font-family: "Microsoft YaHei UI Light", Arial, serif;
}

ul.navbar-nav, a.navbar-brand {
    text-transform: uppercase;
    font-weight: bold;
}

/*屏幕宽度大于 992px 像素时进行的操作*/
/*Navbar透明，字体全部变成白色*/
@media only screen and (min-width: 992px) {
    #site-navigation {
        border-bottom: 1px solid transparent !important;
        background: transparent;
    }

    #site-navigation .navbar-brand {
        padding: 10px 20px;
        color: #fff;
    }

    #site-navigation .navbar-brand:focus, #site-navigation .navbar-brand:hover {
        color: rgba(255, 255, 255, 0.9);
    }

    #site-navigation .navbar-nav > li.nav-item > a {
        color: #fff;
        padding: 10px 0 10px;
        margin: 0 20px;
    }

    #site-navigation > ul.navbar-nav > li.nav-item > a:focus, #site-navigation ul.navbar-nav > li.nav-item > a:hover {
        opacity: 0.7;
    }
}

/* 实现向下滚动隐藏导航，向上滚动时，如果当前高度低于header高度，那么继续显示顶部导航栏，如果高度高于header，则显示原有效果*/
@media only screen and (min-width: 992px) {
    /* -67px 是 navbar 的高度，-67相当于向上正好移动出视野区*/
    #site-navigation.is-fixed {
        /* when the user scrolls down, we hide the header right above the viewport */
        position: fixed;
        top: -67px;
        transition: transform 0.2s;
        border-bottom: 1px solid white;
        background-color: rgba(255, 255, 255, 0.95);
    }

    #site-navigation.is-fixed .navbar-brand {
        color: #212529;
    }

    #site-navigation.is-fixed .navbar-nav > li.nav-item > a {
        color: #212529;
    }

    #navbarToggler > ul > li > a:hover {
        color: #212529;
    }

    /* translate3d(0, 100%, 0)，Y轴数值为100%，相当于容器向下移动相当于自己高度的距离，
    因为之前 .is-fixed 刚好向上移动了相当于自己高度的距离*/
    #site-navigation.is-visible {
        /* if the user changes the scrolling direction, we show the header */
        -webkit-transform: translate3d(0, 100%, 0);
        -moz-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        -o-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

header.masthead {
    margin-bottom: 50px;
    background: #868e96 no-repeat scroll center center;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 520px;
}

/* header 黑色遮罩 */
header.masthead .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    opacity: 0.5;
}

header.masthead .post-heading,
header.masthead .site-heading {
    color: white;
    text-align: center;
}

header.masthead .site-heading {
    padding-top: 200px;
}

header.masthead .site-heading h1 {
    font-weight: bolder;
}

header.masthead .site-heading .subheading {
    display: block;
    padding-top: 30px;
    font-size: 20px;
    font-weight: lighter;
}

/*.post-border {*/
/*padding-left: 0;*/
/*border-left-style: solid;*/
/*border-left-width: 5px;*/
/*border-color: #4285f4;*/
/*}*/

.post, .widget {
    background-color: white;
    margin: 0 0 30px;
    padding: 20px 20px 15px;
    border-radius: 0;
    border: none;
    box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);
    transition: box-shadow 0.25s ease, transform 0.25s ease;
}

.post-title > a {
    font-weight: 600;
    font-size: 19px;
    line-height: 1.6;
    font-synthesis: style;
    /*color: #007bff;*/
}

.post-title > a:hover {
    box-shadow: none !important;
    color: #175199;
}

section#search.widget {
    padding: 0;
}

.widget ul li, .widget ol li {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 0.5em 0;
    margin-bottom: -1px;
    font-size: small;
    color: #000;
}

.widget ul, .widget ol {
    padding-left: 0;
}

.widget ul {
    list-style: none;
}

.widget-title {
    font-weight: 600;
    font-size: 0.95rem;
    letter-spacing: 0;
    padding-bottom: 8px;
}

footer > div.foot-main {
    position: absolute;
    background-color: white;
    padding: 30px;
    margin-top: 30px;
    border-top: 1px solid #e5eff5;
}

.btn-search, .btn-search.form-control, .btn-search:hover, .btn-search:active .btn-search:focus, .btn-light:not(:disabled):not(.disabled):active {
    background: #fff;
    border: none transparent;
    box-shadow: none;
}

aside section {
    background-color: white;
}

.btn-tag {
    color: #656464;
}
